.dropLayout {
	width: calc(80%- 190px);
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
.rglContainer{
	height: 90vh;
	background-color: white;
}
.componentContainer {
	background-color: white;
	border: 1px solid gray;
	box-shadow: 3px 3px 3px 3px #999;
	height: 100%;
}
.react_diable_resizing{
	display: none
}
