node_modules/
/GloryMorning_back/config/auth/apiKeys.js
/GloryMorning_back/config/auth/dbconfig.js
/GloryMorning_front/src/configuration/
/GloryMorning_front/.env
/GloryMorning_back/.env
ignore-file.txt
GloryMorning_front/public/dump.rdb
koreaLocation/.idea/.gitignore
koreaLocation/.idea/koreaLocation.iml
koreaLocation/.idea/misc.xml
koreaLocation/.idea/modules.xml
koreaLocation/.idea/vcs.xml
koreaLocation/.idea/inspectionProfiles/profiles_settings.xml
koreaLocation/__pycache__/clientConfig.cpython-37.pyc
koreaLocation/__pycache__/database.cpython-37.pyc
