.dust_info_container{
    color: white;
    text-align: center;
    .station_info{
        font-size: 1rem;
    }
    .display_icon_wrapper{
        font-size: 1rem;
        .info_header{
            font-size: 2rem;
        }
        .info_icon{
            font-size: 4rem;
        }
        .info_value{
 
        }
        .info_message{
            font-size: 2rem;
        }
    }
}
