.quetosWrapper {
  color: white;
  margin: 50px;
  width: 1000px;
  height: 500px;
  background-color: #ffffff;
  background-color: rgba(15, 15, 15, 0.925);
  border-radius: 10px;
  box-shadow: 2px 3px 5px 3px grey;
  overflow: auto;
}
